<div class="row">
   
    <div class="col-md-12 stretch-card">
       
      <div class="card">
        <div class="card-body">
         <div class="row" style="padding: 10px;">
            <div class="col-md-10">
                <h6 class="card-title">Users</h6>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-icon-text" style="float:right" (click)="redirectToAddScreen()">
                    <i class="feather mdi mdi-account-plus btn-icon-prepend"></i>
                    Add
                  </button>
            </div>
         </div>
         
         
          <div class="table-responsive">
            <ag-grid-angular 
            style="height: 500px;" 
            class="ag-theme-quartz"
            [rowData]="rowData$ | async" 
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
            [pagination]="true"
            [paginationPageSize]="20"
            >
          </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>