<div class="row">

    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <h6 class="card-title">Application for Credit</h6>

                <form [formGroup]="validationForm">


                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Date : </b>{{date}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Payment Terms : </b>Our Terms are <b>Net 30</b></p>
                        </div>
                    </div>

                    <div class="row" style="margin-top:50px;">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="businessYears" class="col-md-3 col-form-label required">Years in
                                    Business</label>
                                <input type="number" min="0" max="999.99" class="form-control"
                                    formControlName="businessYears"
                                    [ngClass]="{'is-invalid': isFormSubmitted && form.businessYears.errors}"
                                    placeholder="Years">
                                <div *ngIf="isFormSubmitted && form.businessYears.errors?.required"
                                    class="invalid-feedback">
                                    Required
                                </div>
                                <div *ngIf="isFormSubmitted && (form.businessYears.errors?.max || form.businessYears.errors?.min)"
                                    class="invalid-feedback">
                                    Min is 0 & Max is 999.99
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taxID" class="col-md-3 col-form-label required">Tax ID#</label>
                                <input type="text" class="form-control" formControlName="taxID"
                                    [ngClass]="{'is-invalid': isFormSubmitted && form.taxID.errors}"
                                    placeholder="Tax ID#">
                                <div *ngIf="isFormSubmitted && form.taxID.errors?.required" class="invalid-feedback">
                                    Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:50px;">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label required" for="isPORequired">
                                        <input type="checkbox" class="form-check-input" (change)="fieldsChange($event)"
                                            formControlName="isPORequired"
                                            [ngClass]="{'is-invalid': isFormSubmitted && form.isPORequired.errors}">
                                        PO Required?
                                    </label>
                                    <div *ngIf="isFormSubmitted && form.isPORequired.errors?.required"
                                        class="invalid-feedback">
                                        Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="isTaxExempt">
                                        <input type="checkbox" class="form-check-input"
                                            (change)="TaxExemptChange($event)" formControlName="isTaxExempt"
                                            [ngClass]="{'is-invalid': isFormSubmitted && form.isTaxExempt.errors}">
                                        Tax Exempt?
                                    </label>
                                    <div *ngIf="isFormSubmitted && form.isTaxExempt.errors?.required"
                                        class="invalid-feedback">
                                        Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isTaxExempt" class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Resale Certificate</label>
                                <div>
                                    <input class="form-control" type="file" #file formControlName="taxExemptAttachment"
                                        (change)="UploadCertificate(file.files)"
                                        [ngClass]="{'is-invalid': isFormSubmitted && form.taxExemptAttachment.errors}">
                                    <div *ngIf="isFormSubmitted && form.taxExemptAttachment.errors?.required"
                                        class="invalid-feedback">
                                        Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mt-5">
                                <a class="col-md-12" *ngIf="taxExemptAttachment != null"
                                    href="{{apiPath + taxExemptAttachment}}" target="_blank">Resale
                                    Certificate</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Company Information</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="companyName" class="col-md-3 col-form-label required">Name
                                                    of
                                                    Company</label>
                                                <input type="text" class="form-control" formControlName="companyName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.companyName.errors}"
                                                    placeholder="Name">
                                                <div *ngIf="isFormSubmitted && form.companyName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="contactNumber"
                                                    class="col-md-3 col-form-label required">Telephone</label>
                                                <input class="form-control" formControlName="contactNumber"
                                                    placeholder="Telephone" prefix="+1 " mask="(000) 000-0000"
                                                    [showMaskTyped]="true"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.contactNumber.errors}">
                                                <div *ngIf="isFormSubmitted && form.contactNumber.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="fax" class="col-md-3 col-form-label">Fax</label>
                                                <input type="text" class="form-control" formControlName="fax"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.fax.errors}"
                                                    placeholder="Fax">
                                                <div *ngIf="isFormSubmitted && form.fax.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-body">
                                            <h6 class="card-title">Shipping Information</h6>
                                            <div class="col-md-12">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="shippingAddress"
                                                                class="col-md-3 col-form-label required">Shipping
                                                                Address</label>
                                                            <textarea class="form-control"
                                                                formControlName="shippingAddress"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.shippingAddress.errors}"
                                                                placeholder="Address"></textarea>
                                                            <div *ngIf="isFormSubmitted && form.shippingAddress.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label class="col-md-3 col-form-label required">City
                                                                Name</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="shippingCityName"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.shippingCityName.errors}"
                                                                placeholder="City Name">
                                                            <div *ngIf="isFormSubmitted && form.shippingCityName.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="shippingStateId"
                                                                class="col-md-3 col-form-label required">State</label>
                                                            <div>
                                                                <ng-select [items]="states" bindLabel="name"
                                                                    bindValue="id" placeholder="Select State"
                                                                    formControlName="shippingStateId">
                                                                </ng-select>
                                                            </div>
                                                            <div *ngIf="isFormSubmitted && form.shippingStateId.errors?.required"
                                                                style="color:red;">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="shippingZip"
                                                                class="col-md-3 col-form-label required">Zip</label>
                                                            <input type="number" data-maxlength="5"
                                                                oninput="this.value=this.value.slice(0,this.dataset.maxlength)"
                                                                class="form-control" formControlName="shippingZip"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.shippingZip.errors}"
                                                                placeholder="Zip">
                                                            <div *ngIf="isFormSubmitted && form.shippingZip.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-body">
                                            <h6 class="card-title">Billing Information</h6>
                                            <div class="col-md-12">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="billingAddress"
                                                                class="col-md-3 col-form-label required">Billing
                                                                Address</label>
                                                            <textarea class="form-control"
                                                                formControlName="billingAddress"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.billingAddress.errors}"
                                                                placeholder="Address"></textarea>
                                                            <div *ngIf="isFormSubmitted && form.billingAddress.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label class="col-md-3 col-form-label required">City
                                                                Name</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="billingCityName"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.billingCityName.errors}"
                                                                placeholder="City Name">
                                                            <div *ngIf="isFormSubmitted && form.billingCityName.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="billingStateId"
                                                                class="col-md-3 col-form-label required">State</label>
                                                            <div>
                                                                <ng-select [items]="states" bindLabel="name"
                                                                    bindValue="id" placeholder="Select State"
                                                                    formControlName="billingStateId">
                                                                </ng-select>
                                                            </div>
                                                            <div *ngIf="isFormSubmitted && form.billingStateId.errors?.required"
                                                                style="color:red;">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="billingZip"
                                                                class="col-md-3 col-form-label required">Zip</label>
                                                            <input type="number" data-maxlength="5"
                                                                oninput="this.value=this.value.slice(0,this.dataset.maxlength)"
                                                                class="form-control" formControlName="billingZip"
                                                                [ngClass]="{'is-invalid': isFormSubmitted && form.billingZip.errors}"
                                                                placeholder="Zip">
                                                            <div *ngIf="isFormSubmitted && form.billingZip.errors?.required"
                                                                class="invalid-feedback">
                                                                Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="apcontactName" class="col-md-3 col-form-label">A/P Contact
                                                    Name</label>
                                                <input type="text" class="form-control" formControlName="apcontactName"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="apcontactNumber"
                                                    class="col-md-3 col-form-label">Phone</label>
                                                <input class="form-control" formControlName="apcontactNumber"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.apcontactNumber.errors}"
                                                    placeholder="number" prefix="+1 " mask="(000) 000-0000"
                                                    [showMaskTyped]="true">
                                                <div *ngIf="isFormSubmitted && form.apcontactNumber.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="apcontactMail" class="col-md-3 col-form-label">A/P Contact
                                                    E-Mail</label>
                                                <input type="email" class="form-control" formControlName="apcontactMail"
                                                    placeholder="E-mail">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="col-md-3 col-form-label">Invoice Preference</label>
                                                <div>
                                                    <div class="form-check form-check-inline mt-2">
                                                        <input type="radio" class="form-check-input"
                                                            formControlName="invoicePreference" value="1"
                                                            (change)="InvoiceEmailSelect($event)">
                                                        <label class="form-check-label" for="mail">
                                                            Mail
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" class="form-check-input"
                                                            formControlName="invoicePreference" value="2"
                                                            (change)="InvoiceEmailSelect($event)">
                                                        <label class="form-check-label" for="e-mail">
                                                            E-Mail
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12" *ngIf="isInvoiceEmail">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="invoiceEmail" class="col-form-label">Invoice
                                                    Submission E-Mail</label>
                                                <input type="email" class="form-control" formControlName="invoiceEmail"
                                                    placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Banking Information</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bankName"
                                                    class="col-md-3 col-form-label required">Bank</label>
                                                <input type="text" class="form-control" formControlName="bankName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.bankName.errors}"
                                                    placeholder="Name">
                                                <div *ngIf="isFormSubmitted && form.bankName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bankContactNumber"
                                                    class="col-md-3 col-form-label required">Phone</label>
                                                <input class="form-control" formControlName="bankContactNumber"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.bankContactNumber.errors}"
                                                    prefix="+1 " mask="(000) 000-0000" [showMaskTyped]="true">
                                                <div *ngIf="isFormSubmitted && form.bankContactNumber.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bankAddress"
                                                    class="col-md-3 col-form-label required">Address</label>
                                                <textarea class="form-control" formControlName="bankAddress"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.bankAddress.errors}"
                                                    placeholder="Address"></textarea>
                                                <div *ngIf="isFormSubmitted && form.bankAddress.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="col-md-3 col-form-label required">City Name</label>
                                                <input type="text" class="form-control" formControlName="bankCityName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.bankCityName.errors}"
                                                    placeholder="City Name">
                                                <div *ngIf="isFormSubmitted && form.bankCityName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bankStateId"
                                                    class="col-md-3 col-form-label required">State</label>
                                                <div>
                                                    <ng-select [items]="states" bindLabel="name" bindValue="id"
                                                        placeholder="Select State" formControlName="bankStateId">
                                                    </ng-select>
                                                </div>
                                                <div *ngIf="isFormSubmitted && form.bankStateId.errors?.required"
                                                    style="color:red;">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bankZip"
                                                    class="col-md-3 col-form-label required">Zip</label>
                                                <input type="number" data-maxlength="5"
                                                    oninput="this.value=this.value.slice(0,this.dataset.maxlength)"
                                                    class="form-control" formControlName="bankZip"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.bankZip.errors}"
                                                    placeholder="Zip">
                                                <div *ngIf="isFormSubmitted && form.bankZip.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Owner Information</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="presidentName"
                                                    class="col-md-3 col-form-label">President/Owner</label>
                                                <input type="text" class="form-control" formControlName="presidentName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.presidentName.errors}"
                                                    placeholder="President Name">
                                                <div *ngIf="isFormSubmitted && form.presidentName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="vicePresidentName" class="col-md-3 col-form-label">Vice
                                                    President</label>
                                                <input type="text" class="form-control"
                                                    formControlName="vicePresidentName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.vicePresidentName.errors}"
                                                    placeholder="Vice President Name">
                                                <div *ngIf="isFormSubmitted && form.vicePresidentName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="secretary"
                                                    class="col-md-3 col-form-label">Secretary/Treasurer</label>
                                                <input type="text" class="form-control" formControlName="secretary"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.secretary.errors}"
                                                    placeholder="Secretary Name">
                                                <div *ngIf="isFormSubmitted && form.secretary.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <canvas style="background-color: #fff;" #signPadCanvas (touchstart)="startSignPadDrawing($event)"
                                                    (touchmove)="movedFinger($event)"></canvas>
                                                <button class="btn btn-danger" (click)="clearSignPad()">Clear</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <img style="background-color: #fff;" src='{{ signature }}' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div formArrayName="tradeRefs">
                        <div class="col-md-12 grid-margin" *ngFor="let value of tradeRefsControls; index as i">
                            <div class="card rounded" [formGroupName]="i">
                                <div class="card-body">
                                    <h6 class="card-title">Trade References {{i+1}}</h6>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="tradeCompanyName"
                                                        class="col-md-3 col-form-label required">Company</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="tradeCompanyName"
                                                        [ngClass]="{'is-invalid': isFormSubmitted && tradeFormValidations(i).tradeCompanyName.errors}"
                                                        placeholder="Name">
                                                    <div *ngIf="isFormSubmitted && tradeFormValidations(i).tradeCompanyName.errors?.required"
                                                        class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="tradeCompanyAddress"
                                                        class="col-md-3 col-form-label required">Address</label>
                                                    <textarea class="form-control"
                                                        formControlName="tradeCompanyAddress"
                                                        [ngClass]="{'is-invalid': isFormSubmitted && tradeFormValidations(i).tradeCompanyAddress.errors}"
                                                        placeholder="Address"></textarea>
                                                    <div *ngIf="isFormSubmitted && tradeFormValidations(i).tradeCompanyAddress.errors?.required"
                                                        class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="tradeCompanyPhone"
                                                        class="col-md-3 col-form-label required">Phone#</label>
                                                    <input class="form-control" prefix="+1 " mask="(000) 000-0000"
                                                        [showMaskTyped]="true" formControlName="tradeCompanyPhone"
                                                        [ngClass]="{'is-invalid': isFormSubmitted && tradeFormValidations(i).tradeCompanyPhone.errors}"
                                                        placeholder="phone">
                                                    <div *ngIf="isFormSubmitted && tradeFormValidations(i).tradeCompanyPhone.errors?.required"
                                                        class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="tradeCompanyFax"
                                                        class="col-md-3 col-form-label required">Fax#</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="tradeCompanyFax"
                                                        [ngClass]="{'is-invalid': isFormSubmitted && tradeFormValidations(i).tradeCompanyFax.errors}"
                                                        placeholder="Fax">
                                                    <div *ngIf="isFormSubmitted && tradeFormValidations(i).tradeCompanyFax.errors?.required"
                                                        class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="tradeCompanyEmail"
                                                        class="col-md-3 col-form-label">E-Mail(Optional)</label>
                                                    <input type="email" class="form-control"
                                                        formControlName="tradeCompanyEmail"
                                                        [ngClass]="{'is-invalid': isFormSubmitted && tradeFormValidations(i).tradeCompanyEmail.errors}"
                                                        placeholder="E-mail">
                                                    <div *ngIf="isFormSubmitted && tradeFormValidations(i).tradeCompanyEmail.errors?.required"
                                                        class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>