<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="row">
    <div *ngIf="result.customerCredit.rejectedReason != null && result.customerCredit.statusId==3">
        <h5 class="text-danger">Note:- {{result.customerCredit.rejectedReason}}</h5>
      </div>

    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Shipper Form</h6>
                <app-shipment [show]="true" [states]="result.states"></app-shipment>
                <app-credit [states]="result.states" [signature]="result.customerCredit.signature" [taxExemptAttachment]="result.customerCredit.taxExemptAttachment"></app-credit>

                <div class="d-flex justify-content-center mt-2">
                    <button *ngIf="userdetails.roleName != 'Admin' && (!result.customerCredit.isSubmitted || result.customerCredit.statusId == 3)"
                        class="btn btn-primary me-5" type="button" value="save"
                        (click)="formSubmit($event)">Save</button>
                    <button *ngIf="!result.customerCredit.isSubmitted || userdetails.roleName == 'Admin' || result.customerCredit.statusId == 3" class="btn btn-success" type="button" value="submit"
                        (click)="formSubmit($event)">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>