<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <table id="dataTable" class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
             <tbody>
                <tr *ngFor="let row of items">
                    <td>{{row.name}}</td>
                    <td><i class='mdi mdi-pencil'></i> |
                      <i class='mdi mdi-delete-forever'></i>
                    </td>
               </tr>
             </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

