<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper"
            [ngStyle]="{ 'background-image': 'url('+baseUrl+'TruckLogis.jpg)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <img *ngIf="isDarkChecked" [src]="logo" routerLink="." style="width: 225px;margin-left: -40px;">
            <img *ngIf="isLightChecked" [src]="logo" routerLink="." style="width: 225px;margin-left: -20px;">
            <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
            <form class="forms-sample" (ngSubmit)="onLoggedin()" [formGroup]="validationForm">
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="text" class="form-control" id="email" formControlName="email"
                  [ngClass]="{'is-invalid': isFormSubmitted && form.email.errors}" placeholder="Email"
                  autocomplete="email">
                <div *ngIf="isFormSubmitted && form.email.errors?.required" class="invalid-feedback">
                  Required
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>

                <input type="password" class="form-control" id="password" formControlName="password"
                  autocomplete="current-password" [ngClass]="{'is-invalid': isFormSubmitted && form.password.errors}"
                  placeholder="Password">
                <div *ngIf="isFormSubmitted && form.password.errors?.required" class="invalid-feedback">
                  Required
                </div>

              </div>
              <div class="row">
                <div class="form-check col-md-6" style="padding-left:40px;">
                  <input type="checkbox" class="form-check-input" formControlName="isRemember">
                  <label class="form-check-label" for="authCheck">
                    Remember me
                  </label>
                </div>
                <div class="col-md-6">
                  <a style="color: var(--bs-link-color); float: right;" (click)="ForgotClick(forgotModal)">Forgot password?</a>
                </div>
              </div>
              <br>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Log in</button>
              </div>
              <hr>
             
              <div class="row mt-3 text-muted">
                <div class="col-md-3">
                  <button routerLink="/driver/register" type="button" class="btn btn-outline-info btn-icon-text mb-2 mb-md-0">
                    <i class="feather mdi mdi-account-multiple-outline btn-icon-prepend"></i>
                    Driver
                  </button>
                </div>
                <div class="col-md-3">
                  <button routerLink="/owner" type="button" class="btn btn-outline-info btn-icon-text mb-2 mb-md-0">
                    <i class="feather mdi mdi-account-multiple-plus btn-icon-prepend"></i>
                    Owner
                  </button>
                </div>
                <div class="col-md-3">
                  <button routerLink="/shipper" type="button" class="btn btn-outline-info btn-icon-text mb-2 mb-md-0">
                    <i class="feather mdi mdi-account-network btn-icon-prepend"></i>
                    Shipper
                  </button>
                </div>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #forgotModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
    <button type="button" class="btn-close" (click)="modal.close(false)" aria-label="Close"></button>
  </div>
  <form [formGroup]="validationForgotForm">
    <div class="modal-body">
      <label class="form-label required">Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="email"
        [ngClass]="{'is-invalid': isForgotFormSubmitted && forgotform.email.errors}"/>
      <div *ngIf="isForgotFormSubmitted && forgotform.email.errors?.required" class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="forgotFormClick()">Send</button>
    </div>
  </form>
</ng-template>