<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://localhost:7215/TruckLogis.jpg)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">One<span>Lift</span></a>
            <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
            <form class="forms-sample" (ngSubmit)="onLoggedin()" [formGroup]="validationForm">
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="text" class="form-control" id="email" formControlName="email"
                  [ngClass]="{'is-invalid': isFormSubmitted && form.email.errors}" placeholder="Email">
                <div *ngIf="isFormSubmitted && form.email.errors?.required" class="invalid-feedback">
                  Required
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>

                <input type="password" class="form-control" id="password" formControlName="password" autocomplete="current-password"
                [ngClass]="{'is-invalid': isFormSubmitted && form.password.errors}" placeholder="Password">
              <div *ngIf="isFormSubmitted && form.password.errors?.required" class="invalid-feedback">
                Required
              </div>

              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" formControlName="isRemember">
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Login</button>
                <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button>
              </div>
              <a routerLink="/driver/register" class="d-block mt-3 text-muted">Not a Driver? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>