<div class="row">

    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Create User</h6>

                <form (ngSubmit)="formSubmit()" [formGroup]="validationForm">

                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Personal Information</h6>
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="firstName" class="col-md-3 col-form-label required">First
                                                    name</label>
                                                <input type="text" class="form-control" id="firstName"
                                                    formControlName="firstName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.firstName.errors}"
                                                    placeholder="First name">
                                                <div *ngIf="isFormSubmitted && form.firstName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="lastName" class="col-md-3 col-form-label required">Last name</label>
                                                <input type="text" class="form-control" id="lastName"
                                                    formControlName="lastName"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.lastName.errors}"
                                                    placeholder="Last name">
                                                <div *ngIf="isFormSubmitted && form.lastName.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="middleName" class="col-md-3 col-form-label">Middle
                                                    Name</label>
                                                <input type="text" class="form-control" id="middleName"
                                                    formControlName="middleName" placeholder="Middle Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="email" class="col-md-3 col-form-label required">Email</label>
                                                <input  type="email" class="form-control" id="email"
                                                    formControlName="email"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.email.errors}"
                                                    placeholder="Email">
                                                <div *ngIf="isFormSubmitted && form.email.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="mobileNumber" class="col-md-3 col-form-label required">Contact
                                                    Number</label>
                                                <input class="form-control" prefix="+1 " mask="(000) 000-0000"
                                                    [showMaskTyped]="true" id="mobileNumber"
                                                    formControlName="mobileNumber"
                                                    [ngClass]="{'is-invalid': isFormSubmitted && form.mobileNumber.errors}"
                                                    placeholder="Contact Number">
                                                <div *ngIf="isFormSubmitted && form.mobileNumber.errors?.required"
                                                    class="invalid-feedback">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="roleid" class="col-form-label required">Select Role</label>
                                                <div>
                                                    <ng-select [items]="roles" bindLabel="name" bindValue="id"
                                                        placeholder="Select Role" formControlName="roleId">
                                                    </ng-select>
                                                </div>
                                                <div *ngIf="isFormSubmitted && form.roleId.errors?.required" style="color:red;">
                                                    Required
                                                  </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Other Information</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="address" class="col-md-3 col-form-label">Address</label>
                                                <input type="text" class="form-control" id="address"
                                                    formControlName="address" placeholder="Address">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="zipCode" class="col-md-3 col-form-label">Zip Code</label>
                                                <input type="number" data-maxlength="5" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" class="form-control" id="zipCode"
                                                    formControlName="zipCode" placeholder="Zip Code">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="stateId" class="col-form-label">Select State</label>
                                              <div>
                                                  <ng-select [items]="states"
                                                  bindLabel="name"
                                                  bindValue="id"
                                                  placeholder="Select State"
                                                  formControlName="stateId">
                                                </ng-select>
                                              </div>
                                            </div>
                                           
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="profilePic" class="col-form-label">Profile Picture</label>
                                              <div>
                                                <input class="form-control" type="file" #file formControlName="profilePic" (change)="UploadProfilePic(file.files)"
                                                [ngClass]="{'is-invalid': isFormSubmitted && form.profilePic.errors}"
                                                accept="image/*">
                                                <div *ngIf="isFormSubmitted && form.profilePic.errors?.required" class="invalid-feedback">
                                                    Required
                                                  </div>
                                              </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" *ngIf="this.result.profilePicture != null">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img [src]="baseUrl+this.result.profilePicture" class="img-fluid rounded-start" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-primary" type="submit">{{buttonValue}}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>