<div class="row">

  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Owner Form</h6>

        <form (ngSubmit)="formSubmit()" [formGroup]="validationForm">

          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">Personal Information</h6>
                <div class="col-md-12">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="firstName" class="col-md-3 col-form-label required">First Name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.firstName.errors}" placeholder="First name">
                        <div *ngIf="isFormSubmitted && form.firstName.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="lastName" class="col-md-3 col-form-label required">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.lastName.errors}" placeholder="Last name">
                        <div *ngIf="isFormSubmitted && form.lastName.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="middleName" class="col-md-3 col-form-label">Middle Name</label>
                        <input type="text" class="form-control" id="middleName" formControlName="middleName"
                          placeholder="Middle Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="address" class="col-md-3 col-form-label required">Address</label>
                        <input type="text" class="form-control" id="email" formControlName="address"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.address.errors}" placeholder="address">
                        <div *ngIf="isFormSubmitted && form.address.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">Vehicle Information</h6>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="value" class="col-md-3 col-form-label">$Value</label>
                        <input type="number" class="form-control" formControlName="value"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.value.errors}" placeholder="value">
                        <div *ngIf="isFormSubmitted && form.value.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="year" class="col-md-3 col-form-label">Year</label>
                        <input type="number" class="form-control" formControlName="year"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.year.errors}" placeholder="year">
                        <div *ngIf="isFormSubmitted && form.year.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="value" class="col-md-3 col-form-label">Make</label>
                        <div>
                          <ng-select [items]="vehicleBrands" bindLabel="name" bindValue="id"
                            placeholder="Select Vehicle Brand" formControlName="brandId">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="modal" class="col-md-3 col-form-label">Modal</label>
                        <input type="text" class="form-control" formControlName="modal"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.modal.errors}" placeholder="Vehicle modal">
                        <div *ngIf="isFormSubmitted && form.modal.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="vinCode" class="col-md-3 col-form-label">Vin#</label>
                        <input type="text" class="form-control" formControlName="vinCode"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.vinCode.errors}" placeholder="vin#">
                        <div *ngIf="isFormSubmitted && form.vinCode.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-md-3 col-form-label">Type</label>
                        <div>
                          <div class="form-check form-check-inline mt-2">
                            <input type="radio" class="form-check-input" formControlName="type" value="1">
                            <label class="form-check-label" for="Truck">
                              Truck
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" formControlName="type" value="2">
                            <label class="form-check-label" for="Trailer">
                              Trailer
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" formControlName="type" value="3">
                            <label class="form-check-label" for="Other">
                              Other (Specify)
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">Garage Information where vehicle will be parked</h6>
                <div class="col-md-12">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="parkingStateId" class="col-md-3 col-form-label required">State</label>
                        <div>
                          <ng-select [items]="states" bindLabel="name" bindValue="id" placeholder="Select State"
                            formControlName="parkingStateId" (change)="stateChange($event)">
                          </ng-select>
                        </div>
                        <div *ngIf="isFormSubmitted && form.parkingStateId.errors?.required" style="color:red;">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="cityId" class="col-md-3 col-form-label required">City</label>
                        <div>
                          <ng-select [items]="newCities" bindLabel="name" bindValue="id" placeholder="Select City"
                            formControlName="cityId">
                          </ng-select>
                          <div *ngIf="isFormSubmitted && form.cityId.errors?.required" style="color:red;">
                            Required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">Driver Information</h6>
                <div class="col-md-12">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="license" class="col-md-3 col-form-label required">Driver License</label>
                        <input type="text" class="form-control" formControlName="license"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.license.errors}"
                          placeholder="License number">
                        <div *ngIf="isFormSubmitted && form.license.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="stateId" class="col-md-3 col-form-label required">Issuing State</label>
                        <div>
                          <ng-select [items]="states" bindLabel="name" bindValue="id" placeholder="Select State"
                            formControlName="stateId">
                          </ng-select>
                        </div>
                        <div *ngIf="isFormSubmitted && form.stateId.errors?.required" style="color:red;">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="experience" class="col-md-3 col-form-label">Years of Experience</label>
                        <input type="number" class="form-control" formControlName="experience" placeholder="Experience"
                          [ngClass]="{'is-invalid': isFormSubmitted && form.experience.errors}">
                        <div *ngIf="isFormSubmitted && form.experience.errors?.required" class="invalid-feedback">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">Attachments</h6>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Current DOT Inspection</label>
                        <div>
                          <input class="form-control" type="file" #DOTfile formControlName="dotInspection"
                            (change)="UploadDOTInspection(DOTfile.files)"
                            [ngClass]="{'is-invalid': isFormSubmitted && form.dotInspection.errors}">
                          <div *ngIf="isFormSubmitted && form.dotInspection.errors?.required" class="invalid-feedback">
                            Required
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Current Registration</label>
                        <div>
                          <input class="form-control" type="file" #currentRegistrationFile
                            formControlName="currentRegistration"
                            (change)="UploadCurrentRegistration(currentRegistrationFile.files)"
                            [ngClass]="{'is-invalid': isFormSubmitted && form.currentRegistration.errors}">
                          <div *ngIf="isFormSubmitted && form.currentRegistration.errors?.required"
                            class="invalid-feedback">
                            Required
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                      <div class="row">
                        <a class="col-md-12" *ngIf="result.dotInspectionPath != null" href="{{apiPath + result.dotInspectionPath}}" target="_blank">Current DOT Inspection</a>
                        <a class="col-md-12" *ngIf="result.currentRegistrationPath != null" href="{{apiPath + result.currentRegistrationPath}}" target="_blank">Current Registration</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>