<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Driver Status</h6>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <div>
                <ng-select [items]="status" bindLabel="value" bindValue="key" [ngModel]='4' placeholder="Driver Status"
                  (change)="GetDrivers($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-icon-text" style="float: right;" (click)="redirectToAddDriver()">
              <i class="feather mdi mdi-account-plus btn-icon-prepend"></i>
              Add
            </button>
            
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Drivers</h6>
        <div class="card col-md-3 grid-margin" style="display: inline-block;margin-right: 2%;"
          *ngFor="let item of drivers">
          <a (click)="EditDriver(item.id)">
            <div class="card-header">
              {{item.firstName + " " + item.lastName}}
            </div>
            <div class="card-body">
              <h5 class="card-title">Driver Details</h5>
              <p class="card-text mb-3"><b>Email :</b> {{item.email}}</p>
              <p class="card-text mb-3"><b>Phone Number :</b> {{item.phoneNumber}}</p>
            </div>
          </a>
          <div class="card-footer" *ngIf="item.formStatusId == 1">
            <div class="row">
              <div class="col-md-6">
                <a (click)="AcceptDriver(item)" class="btn btn-primary form-control">Accept</a>
              </div>
              <div class="col-md-6">
                <a (click)="openRejectModal(rejectModal,item)" class="btn btn-danger form-control">Reject</a>
              </div>
            </div>
          </div>
          <div class="card-footer" *ngIf="item.formStatusId == 2">
            <button class="btn btn-primary form-control" disabled>Accepted</button>
          </div>
          <div class="card-footer" *ngIf="item.formStatusId == 3">
            <button class="btn btn-danger form-control" disabled>Rejected</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Drivers</h6>
        <div class="table-responsive">
          <ag-grid-angular 
          style="height: 500px;" 
          class="ag-theme-quartz"
          [rowData]="rowData$ | async" 
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [animateRows]="true"
          (gridReady)="onGridReady($event)"
          (cellClicked)="onCellClicked($event)"
          [getRowStyle]="getRowStyle"
          [pagination]="true"
          [paginationPageSize]="20"
          >
        </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #rejectModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Rejecting Reason</h5>
    <button type="button" class="btn-close" (click)="modal.close(false)" aria-label="Close"></button>
  </div>
  <form (ngSubmit)="formSubmit()" [formGroup]="rejectForm">
    <div class="modal-body">
      <textarea class="form-control" formControlName="reason" placeholder="reason.."
        [ngClass]="{'is-invalid': isFormSubmitted && form.reason.errors}"></textarea>
      <div *ngIf="isFormSubmitted && form.reason.errors?.required" class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close(false)">Close</button>
      <button type="submit" class="btn btn-danger">Reject</button>
    </div>
  </form>
</ng-template>