<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper"
              [ngStyle]="{ 'background-image': 'url('+baseUrl+'TruckLogis.jpg)' }">
  
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <img *ngIf="isDarkChecked" [src]="logo" routerLink="." style="width: 225px;margin-left: -40px;">
            <img *ngIf="isLightChecked" [src]="logo" routerLink="." style="width: 225px;margin-left: -20px;">
              <h5 class="text-muted fw-normal mb-4">Welcome! Set your account new password.</h5>
              <form class="forms-sample" (ngSubmit)="onSubmit()" [formGroup]="validationForm">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email"
                    [ngClass]="{'is-invalid': isFormSubmitted && form.email.errors}" placeholder="email"
                    autocomplete="email">
                  <div *ngIf="isFormSubmitted && form.email.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password"
                    [ngClass]="{'is-invalid': isFormSubmitted && form.password.errors}" placeholder="password" autocomplete="new-password"/>
                  <div *ngIf="isFormSubmitted && form.password.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                  <div *ngIf="isFormSubmitted && isPasswordNotValid" class="invalid-feedback">
                    Password must contain at least one number, one special character, one uppercase and a 
                    lowercase letter and at least 8 characters!
                  </div>
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
  
                  <input type="password" class="form-control" formControlName="confirmPassword"  (change)="PasswordChange($event)"
                   [ngClass]="{'is-invalid': isFormSubmitted && form.confirmPassword.errors}"
                    placeholder="re-enter password" autocomplete="new-password"/>
                  <div *ngIf="isFormSubmitted && form.confirmPassword.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                  <div *ngIf="isFormSubmitted && isPasswordNotMatch" class="invalid-feedback">
                    Passwords not match!
                  </div>
  
                </div>
                
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Submit</button>
                </div>
                <div>
                  <a style="color: skyblue;float: right;" (click)="SigninClick()">Go to SignIn</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>