::ng-deep .mat-step-header[aria-selected="true"]  {
    background-color: #00A9CE !important;
    border-radius: 32px !important;
    font-weight: 10px;
  
    & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
        color: #FFF;
    }
  }