::ng-deep .mat-step-header[aria-selected="true"]  {
    background-color: #00A9CE !important;
    border-radius: 32px !important;
    font-weight: 10px;
    color: #FFF;
    width: 8%;
  }

  ::ng-deep .mat-step-header {
    pointer-events: none;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 97%;
    margin: 10px auto;
  }

  ::ng-deep .mat-step-icon-state-number {
    display: none;
  }

  ::ng-deep .mat-step-header[aria-posinset="3"]  {
    width: 0;
  }