::ng-deep .mat-step-header[aria-selected="true"]  {
    background-color: #00A9CE !important;
    border-radius: 32px !important;
    font-weight: 10px;
    color: #FFF;
  }


  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 69%;
    margin: 10px auto;
  }