<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->
    <!-- <a routerLink="/" class="sidebar-brand nobleui-logo">
      One<span>Lift</span>
    </a> -->
    <img [src]="logo" routerLink="/" style="width: 225px;margin-left: -70px;">
    <!-- <a routerLink="/" class="sidebar-brand nobleui-logo">
      <img src="assets/images/logo.png" alt="logo">
    </a> -->

    <!--- Toggler -->
    <div class="sidebar-toggler not-active" #sidebarToggler (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div class="sidebar-body" (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()" [perfectScrollbar]>

    <!--- Sidemenu start -->

    <ul class="sidebar-nav metismenu" id="sidebar-menu" #sidebarMenu>
      <ng-container *ngFor="let item of menuItems">
        <li class="nav-item nav-category" *ngIf="item.isTitle">{{ item.label }}</li>
    
        <li class="nav-item" *ngFor="let subItem of item.modules" >
    
          <a class="nav-link nav-link-ref" [routerLink]="subItem.link" *ngIf="!hasItems(subItem)"
            [attr.data-parent]="subItem.parentId">
            <i class="link-icon" [attr.data-feather]="subItem.icon" appFeatherIcon *ngIf="subItem.icon"></i>
            <span class="link-title"> {{ subItem.name }}</span>
          </a>
    
        </li>
      </ng-container>
      
    </ul>

    <!--- Sidemenu end -->

  </div>
</nav>
<nav class="settings-sidebar">
  <div class="sidebar-body">
    <a href="" class="settings-sidebar-toggler" (click)="toggleSettingsSidebar($event)">
      <i class="icon feather icon-settings"></i>
    </a>
    <h6 class="text-muted mb-2">Sidebar:</h6>
    <div class="mb-3 pb-3 border-bottom">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" (change)="onSidebarThemeChange($event)" id="sidebarLight" value="sidebar-light" checked>
          <i class="input-frame"></i>
          Light
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" (change)="onSidebarThemeChange($event)" id="sidebarDark" value="sidebar-dark">
          <i class="input-frame"></i>
          Dark
        </label>
      </div>
    </div>
  </div>
</nav>